@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="mt-4">🏦 Manage Accounts</h2>
<table class="table table-bordered">
    <tr>
        <th>Account Number</th>
        <th>Type</th>
        <th>Balance</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>123456789</td>
        <td>Savings</td>
        <td>$5,000</td>
        <td>Approved</td>
        <td><a href="#" class="btn btn-info btn-sm">Details</a></td>
    </tr>
    <tr>
        <td>123456789</td>
        <td>Savings</td>
        <td>$5,000</td>
        <td>Approved</td>
        <td><a href="#" class="btn btn-info btn-sm">Details</a></td>
    </tr>
    <tr>
        <td>123456789</td>
        <td>Savings</td>
        <td>$5,000</td>
        <td>Approved</td>
        <td><a href="#" class="btn btn-info btn-sm">Details</a></td>
    </tr>
    <tr>
        <td>123456789</td>
        <td>Savings</td>
        <td>$5,000</td>
        <td>Approved</td>
        <td><a href="#" class="btn btn-info btn-sm">Details</a></td>
    </tr>
    <tr>
        <td>123456789</td>
        <td>Savings</td>
        <td>$5,000</td>
        <td>Approved</td>
        <td><a href="#" class="btn btn-info btn-sm">Details</a></td>
    </tr>
</table>
