@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="mt-4">📝 Loan Approvals</h2>
<table class="table table-bordered">
    <tr>
        <th>Loan ID</th>
        <th>Account Number</th>
        <th>Amount</th>
        <th>Interest Rate</th>
        <th>Duration</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>5001</td>
        <td>987654321</td>
        <td>$10,000</td>
        <td>5%</td>
        <td>24 Months</td>
        <td>
            <a href="#" class="btn btn-success btn-sm">Approve</a>
            <a href="#" class="btn btn-danger btn-sm">Reject</a>
        </td>
    </tr>
    <tr>
        <td>5001</td>
        <td>987654321</td>
        <td>$10,000</td>
        <td>5%</td>
        <td>24 Months</td>
        <td>
            <a href="#" class="btn btn-success btn-sm">Approve</a>
            <a href="#" class="btn btn-danger btn-sm">Reject</a>
        </td>
    <tr>
        <td>5001</td>
        <td>987654321</td>
        <td>$10,000</td>
        <td>5%</td>
        <td>24 Months</td>
        <td>
            <a href="#" class="btn btn-success btn-sm">Approve</a>
            <a href="#" class="btn btn-danger btn-sm">Reject</a>
        </td>
    </tr>
    </tr>
</table>
