@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="mt-4">💰 Transactions</h2>
<table class="table table-bordered">
    <tr>
        <th>Transaction ID</th>
        <th>Account Number</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>1001</td>
        <td>123456789</td>
        <td>$500</td>
        <td>Deposit</td>
        <td>2025-03-09</td>
    </tr>
      <tr>
        <td>1001</td>
        <td>123456789</td>
        <td>$500</td>
        <td>Deposit</td>
        <td>2025-03-09</td>
    <tr>
        <td>1001</td>
        <td>123456789</td>
        <td>$500</td>
        <td>Deposit</td>
        <td>2025-03-09</td>
    </tr>
    </tr>
</table>
