@model Banking_Management_System_Major_Project.Models.UserModel.ApplyCardViewModel;
@{
    ViewData["Title"] = "ApplyCard";
}


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CardType" class="control-label"></label>
                <select asp-for="CardType" class="form-control">
                    <option value="">-- Select Card Type --</option>
                    <option value="Visa">Visa</option>
                    <option value="MasterCard">MasterCard</option>
                    <option value="American Express">American Express</option>
                    <option value="Discover">Discover</option>
                </select>
                <span asp-validation-for="CardType" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CardVariant" class="control-label"></label>
                <select asp-for="CardVariant" class="form-control">
                    <option value="">-- Select Card Variant --</option>
                    <option value="Standard">Standard</option>
                    <option value="Gold">Gold</option>
                    <option value="Platinum">Platinum</option>
                    <option value="Signature">Signature</option>
                    <option value="Infinite">Infinite</option>
                </select>
                <span asp-validation-for="CardVariant" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CreditLimit" class="control-label"></label>
                <input asp-for="CreditLimit" class="form-control" type="number" min="5000" max="500000" />
                <span asp-validation-for="CreditLimit" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
